site_name: 'STINGAR Installation Guide'
use_directory_urls: false
site_url: https://stingarv2.readthedocs.io
theme:
    name: readthedocs
    custom_dir: 'custom_theme/'
docs_dir: docs
plugins:
  - search
  - user-defined-values:
      keywords:
        STINGAR_HOSTNAME:
          placeholder: Enter the name of your STINGAR server
        STINGAR_ADMIN_USER:
          placeholder: Enter the name of the user with root access on the STINGAR server
        STINGAR_REGISTRY_USER:
          placeholder: Enter the username provided by the STINGAR team that lets you download STINGAR from a registry.
nav:
  - 'STINGAR v2': 
      - 'Installation Guide': index.md
      - 'Establish Prerequisites':
          - 'Join STINGAR Community': requirements/membership.md
          - 'Confirm Hardware Requirements': requirements/hardware.md
          - 'Install Required Software': requirements/software.md
          - 'Verify Software Installation': requirements/confirm.md
      - 'Install STINGAR':
          - 'Run Installation Script': install/run_quickstart.md
          - 'Launch STINGAR': install/launch.md
      - 'Alternative Installation Methods': install/faq.md
  - 'Customize STINGAR Configuration': config_files.md
  - 'Upgrading STINGAR': upgrade.md
